{
    "extends": ["stylelint-config-standard-scss","stylelint-config-recess-order"],
    "overrides": [
    {
      "files": ["**/*.less", "**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ]
}