{
    "extends": ["stylelint-config-standard-scss","stylelint-config-recess-order"],
    "overrides": [
    {
      "files": ["test/**/*.less", "test/**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ]
}